
body{
    /* background: linear-gradient(90deg, rgba(21,210,65,1) 18%, rgba(0,159,255,0.8071603641456583) 77%); */
    /* background: url(https://img.freepik.com/premium-photo/news-intro-graphic-animation-with-circles-world-map-abstract-background-elegant-luxury-3d-illustration-style-news-business-template_510351-1022.jpg); */
    background: url(https://c1.wallpaperflare.com/preview/21/93/67/news-yellow-newspaper-3d.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

.card{
    box-shadow: 5px 5px 5px 5px gainsboro;
    border: 20px groove #ff4644;

    transform: scale(1);
    /* background: linear-gradient(90deg, rgba(9,109,121,1) 28%, rgba(255,0,95,0.8071603641456583) 77%); */
    /* background: linear-gradient(#ff464f, #9198e5); */
    background: linear-gradient(90deg, rgba(0,159,255,0.8071603641456583) 18%, rgba(21,210,65,1) 77%);

    /* animation: colorchange 1s infinite; */
    /* background: linear-gradient(90deg, rgb(249, 25, 245) 0%, rgba(32, 227, 245, 0.807) 100%); */
}

img{
    border: 5px solid white;
    /* animation: colorChange 3s infinite ; */
}

/* @keyframes colorChange {
    0%{
        border: rgb(255, 255, 0);
    }
    25%{
        border: rgb(0, 234, 255);
    }
    75%{
        border: rgb(187, 0, 255);
    }
    100%{
        border: rgb(255, 0, 0);
    }
    
} */



h6{
    background-color: coral;
    display: inline;
    border-radius: 5px;
}

.card:hover{
    transform: scale(1.1);
   
    /* background: linear-gradient(90deg, rgba(0,159,255,0.8071603641456583) 18%, rgba(21,210,65,1) 77%); */
    background: linear-gradient(90deg, rgb(249, 25, 245) 0%, rgba(32, 227, 245, 0.807) 100%);
    transition: 1s;
}

li{
    background-color: #9198e5;
    margin-left: 2%;
    transform: scale(1);
}

li:hover{
    transform: scale(1.1);
}